clearml
defusedxml
python-doctr
fastapi
Flask
h5py
hdf5storage
httpx
huggingface_hub
importlib_metadata
langdetect
matplotlib
mplcursors
numpy
onnxruntime
opencv_python
opencv_python_headless
Pillow
psutil
pyclipper
pydantic
pypdfium2
pytest
pytest_asyncio
rapidfuzz
Requests
scipy==1.7.3
setuptools
Shapely
streamlit
tf2onnx
torch
torchvision
tqdm
Unidecode
wandb
weasyprint
Werkzeug

