absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.3.1
altair==5.2.0
annotated-types==0.6.0
anytree==2.8.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.4.0
axios==0.4.0
backports.weakref==1.0.post1
binarytree==6.5.1
bkcharts==0.2
blinker==1.7.0
blis==0.7.9
Brotli==1.1.0
cachetools==5.3.3
catalogue==2.0.8
clyent==1.2.1
colorama==0.4.6
conda-repo-cli==1.0.75
conda-verify==3.4.2
confection==0.0.4
cssselect2==0.7.0
cymem==2.0.7
daal4py==2023.1.1
dataclasses-json==0.5.14
datasets==2.16.1
deap==1.4.1
deeplake==3.5.4
dill==0.3.8
distro==1.9.0
efficientnet-pytorch==0.7.1
et-xmlfile==1.1.0
evaluate==0.4.1
fastapi==0.109.2
ffmpeg-python==0.2.0
ffmpy==0.3.2
Flask-Cors==4.0.0
flask-ngrok==0.0.25
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==4.19.1
gradio_client==0.10.0
graphviz==0.20.1
grpcio==1.53.0
gunicorn==21.1.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.2
humbug==0.3.2
imageio==2.5.0
imgaug==0.4.0
imutils==0.5.4
inflection==0.5.1
jax==0.4.8
jupyterthemes==0.20.0
keras==2.12.0
keras-models==0.0.7
keras-segmentation==0.3.0
langchain==0.0.180
langcodes==3.3.0
langdetect==1.0.9
lesscpy==0.15.1
libclang==16.0.0
lightgbm==4.1.0
lightning-utilities==0.10.0
markdown-it-py==3.0.0
marshmallow==3.21.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
ml-dtypes==0.2.0
mplcursors==0.5.3
multidict==6.0.5
multiprocess==0.70.16
munch==4.0.0
munkres==1.1.4
murmurhash==1.0.9
navigator-updater==0.3.0
numcodecs==0.12.1
numpy==1.23.5
oauthlib==3.2.2
onnx==1.15.0
openai==0.27.6
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
opencv-python-headless==4.8.1.78
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.9.14
pathlib==1.0.1
pathos==0.3.2
pathy==0.10.1
patsy==0.5.3
pdf2image==1.17.0
pep8==1.7.1
pillow==10.2.0
ply==3.11
pox==0.3.4
ppft==1.7.6.8
preshed==3.0.8
pretrainedmodels==0.7.4
protobuf==3.20.3
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1-modules==0.2.8
PyAudioWPatch==0.2.12.5
pyclipper==1.3.0.post5
pycurl==7.45.2
pydantic==1.10.14
pydantic_core==2.16.2
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydot==2.0.0
pydub==0.25.1
pydyf==0.8.0

pygame==2.1.2
Pygments==2.15.1
pyls-spyder==0.4.0
pynndescent==0.5.10
PyPDF2==3.0.1
pypdfium2==4.26.0
pyphen==0.14.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQtWebEngine==5.15.6
pytesseract==0.3.10
-e git+https://github.com/mindee/doctr.git@058b5db5393702fe93e02cda730346e6928c1558#egg=python_doctr
python-dotenv==1.0.0
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.9
python-version==0.0.2

pytorch-lightning==2.1.3
pywin32==305.1
qudida==0.0.4
rapidfuzz==3.6.1
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.4.2
rouge-score==0.1.2
rsa==4.9
ruff==0.2.2
safetensors==0.4.1
scikit-learn-intelex==20230426.122314
scipy==1.10.1
segmentation-models-pytorch==0.3.3
semantic-version==2.10.0
sentencepiece==0.1.99
setuptools-scm==7.1.0
shapely==2.0.2
shellingham==1.5.4
smart-open==6.3.0
smmap==5.0.1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
starlette==0.36.3
streamlit==1.32.1
TBB==0.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-cpu==2.15.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
textblob==0.17.1
tf2onnx==1.16.0
themes==0.0.4
thinc==8.1.9
tiktoken==0.3.1
timm==0.9.2
tinycss2==1.2.1
tokenizers==0.15.0
tomlkit==0.12.0
torch==2.1.2
torchmetrics==1.2.1
torchsummary==1.5.1
torchvision==0.16.2
transformers==4.37.2
treelib==1.6.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzlocal==5.2
uvicorn==0.27.1
validators==0.22.0
vectorize==0.2.0
vectorizers==0.2
wasabi==1.1.1
Wave==0.0.2
weasyprint==60.2
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
win-unicode-console==0.5
xgboost==2.0.0
xxhash==3.4.1

yarl==1.9.4
zopfli==0.2.3
zstandard==0.19.0
